services:
  aimoderation.api:
    image: ${DOCKER_REGISTRY}aimoderation.api:${IMAGE_TAG}
    container_name: aimoderation.api
    depends_on: [ distributedcache ]
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__Redis=distributedcache-msa:6379,abortConnect=false,connectRetry=5,connectTimeout=5000,syncTimeout=5000
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
    networks: [ emoease-net ]
    ports: [ "5015:8080", "6015:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/AIModeration/AIModeration.API/RSAKeys:/app/RSAKeys
      - ./Services/AIModeration/AIModeration.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/AIModeration/AIModeration.API/appsettings.Production.json:/app/appsettings.Production.json:ro

  alias.api:
    image: ${DOCKER_REGISTRY}alias.api:${IMAGE_TAG}
    container_name: alias.api
    depends_on: [ distributedcache ]
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__Redis=distributedcache-msa:6379,abortConnect=false,connectRetry=5,connectTimeout=5000,syncTimeout=5000
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - GrpcSettings__PiiUrl=http://profile.api:8081
      - DOTNET_SYSTEM_NET_HTTP_SOCKETSHTTPHANDLER_HTTP2UNENCRYPTEDSUPPORT=true
    networks: [ emoease-net ]
    ports: [ "5013:8080", "5513:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/Alias/Alias.API/RSAKeys:/app/RSAKeys
      - ./Services/Alias/Alias.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/Alias/Alias.API/appsettings.Production.json:/app/appsettings.Production.json:ro

  auth.api:
    image: ${DOCKER_REGISTRY}auth.api:${IMAGE_TAG}
    container_name: auth.api
    depends_on: [ distributedcache ]
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__Redis=distributedcache-msa:6379,abortConnect=false,connectRetry=5,connectTimeout=5000,syncTimeout=5000
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - GrpcSettings__PatientProfileUrl=http://profile.api:8081
      - GrpcSettings__PiiUrl=http://profile.api:8081
      - GrpcSettings__NotificationUrl=https://https://emoease-notifications.azurewebsites.net
      - DOTNET_SYSTEM_NET_HTTP_SOCKETSHTTPHANDLER_HTTP2UNENCRYPTEDSUPPORT=true
    networks: [ emoease-net ]
    ports: [ "5000:8080", "5500:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/Auth/Auth.API/RSAKeys:/app/RSAKeys
      - /mnt/dpkeys:/home/app/.aspnet/DataProtection-Keys
      - ./Services/Auth/Auth.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/Auth/Auth.API/appsettings.Production.json:/app/appsettings.Production.json:ro

  chatbox.api:
    image: ${DOCKER_REGISTRY}chatbox.api:${IMAGE_TAG}
    container_name: chatbox.api
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - GOOGLE_APPLICATION_CREDENTIALS=/app/gcloud/compute-default-sa.json
      - DOTNET_SYSTEM_NET_HTTP_SOCKETSHTTPHANDLER_HTTP2UNENCRYPTEDSUPPORT=true
      - GrpcSettings__PiiUrl=http://profile.api:8081
    networks: [ emoease-net ]
    ports: [ "5008:8080", "6008:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/ChatBox/ChatBox.API/RSAKeys:/app/RSAKeys
      - ~/.config/gcloud/application_default_credentials.json:/app/gcloud/compute-default-sa.json:ro
      - ./Services/ChatBox/ChatBox.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/ChatBox/ChatBox.API/appsettings.Production.json:/app/appsettings.Production.json:ro
      - ./Services/ChatBox/ChatBox.API/Lookups/emoease_team_knowledge.md:/app/Lookups/emoease_team_knowledge.md:ro


  feed.api:
    image: ${DOCKER_REGISTRY}feed.api:${IMAGE_TAG}
    depends_on: [ distributedcache ]
    container_name: feed.api
    #    labels:
    #      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ConnectionStrings__Redis=distributedcache-msa:6379,abortConnect=false,connectRetry=5,connectTimeout=5000,syncTimeout=5000
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
    networks: [ emoease-net ]
    ports: [ "5017:8080", "5517:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/Feed/Feed.API/RSAKeys:/app/RSAKeys
      - ./Services/Feed/Feed.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/Feed/Feed.API/appsettings.Production.json:/app/appsettings.Production.json:ro

  media.api:
    image: ${DOCKER_REGISTRY}media.api:${IMAGE_TAG}
    container_name: media.api
    depends_on: [ distributedcache ]
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__Redis=distributedcache-msa:6379,abortConnect=false,connectRetry=5,connectTimeout=5000,syncTimeout=5000
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
    networks: [ emoease-net ]
    ports: [ "5020:8080", "5520:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/Media/Media.API/RSAKeys:/app/RSAKeys
      - ./Services/Media/Media.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/Media/Media.API/appsettings.Production.json:/app/appsettings.Production.json:ro

  payment.api:
    image: ${DOCKER_REGISTRY}payment.api:${IMAGE_TAG}
    container_name: payment.api
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - GrpcSettings__PiiUrl=http://profile.api:8081
      - DOTNET_SYSTEM_NET_HTTP_SOCKETSHTTPHANDLER_HTTP2UNENCRYPTEDSUPPORT=true
    networks: [ emoease-net ]
    ports: [ "5004:8080", "5504:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/Payment/Payment.API/RSAKeys:/app/RSAKeys
      - ./Services/Payment/Payment.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/Payment/Payment.API/appsettings.Production.json:/app/appsettings.Production.json:ro

  post.api:
    image: ${DOCKER_REGISTRY}post.api:${IMAGE_TAG}
    container_name: post.api
    depends_on: [ distributedcache ]
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__Redis=distributedcache-msa:6379,abortConnect=false,connectRetry=5,connectTimeout=5000,syncTimeout=5000
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
    networks: [ emoease-net ]
    ports: [ "5014:8080", "5514:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/Post/Post.API/RSAKeys:/app/RSAKeys
      - ./Services/Post/Post.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/Post/Post.API/appsettings.Production.json:/app/appsettings.Production.json:ro

  profile.api:
    image: ${DOCKER_REGISTRY}profile.api:${IMAGE_TAG}
    container_name: profile.api
    depends_on: [ distributedcache ]
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__Redis=distributedcache-msa:6379,abortConnect=false,connectRetry=5,connectTimeout=5000,syncTimeout=5000
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
    networks: [ emoease-net ]
    ports: [ "5001:8080", "6001:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/Profile/Profile.API/RSAKeys:/app/RSAKeys
      - ./Services/Profile/Profile.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/Profile/Profile.API/appsettings.Production.json:/app/appsettings.Production.json:ro

  promotion.grpc:
    image: ${DOCKER_REGISTRY}promotion.grpc:${IMAGE_TAG}
    container_name: promotion.grpc
    labels:
      com.emoease.health_skip: "true"   # gRPC only -> skip HTTP health;
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
    ports: [ "5003:8080", "5503:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/Promotion/Promotion.Grpc/appsettings.json:/app/appsettings.json:ro
      - ./Services/Promotion/Promotion.Grpc/appsettings.Production.json:/app/appsettings.Production.json:ro

  subscription.api:
    image: ${DOCKER_REGISTRY}subscription.api:${IMAGE_TAG}
    container_name: subscription.api
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - GrpcSettings__TranslationUrl=http://translation.api:8081
      - DOTNET_SYSTEM_NET_HTTP_SOCKETSHTTPHANDLER_HTTP2UNENCRYPTEDSUPPORT=true
    networks: [ emoease-net ]
    ports: [ "5005:8080", "5505:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/Subscription/Subscription.API/RSAKeys:/app/RSAKeys
      - ./Services/Subscription/Subscription.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/Subscription/Subscription.API/appsettings.Production.json:/app/appsettings.Production.json:ro

  test.api:
    image: ${DOCKER_REGISTRY}test.api:${IMAGE_TAG}
    container_name: test.api
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - GOOGLE_APPLICATION_CREDENTIALS=/app/gcloud/compute-default-sa.json
      - GrpcSettings__TranslationUrl=http://translation.api:8081
      - DOTNET_SYSTEM_NET_HTTP_SOCKETSHTTPHANDLER_HTTP2UNENCRYPTEDSUPPORT=true
    networks: [ emoease-net ]
    ports: [ "5006:8080", "5506:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ~/gcp/compute-default-sa.json:/app/gcloud/compute-default-sa.json:ro
      - ./Services/Test/Test.API/RSAKeys:/app/RSAKeys
      - ./Services/Test/Test.Infrastructure/Assets:/app/Assets
      - /usr/share/fonts:/usr/share/fonts:ro
      - ./Services/Test/Test.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/Test/Test.API/appsettings.Production.json:/app/appsettings.Production.json:ro

  translation.api:
    image: ${DOCKER_REGISTRY}translation.api:${IMAGE_TAG}
    container_name: translation.api
    depends_on: [ distributedcache ]
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__Redis=distributedcache-msa:6379,abortConnect=false,connectRetry=5,connectTimeout=5000,syncTimeout=5000
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - GOOGLE_APPLICATION_CREDENTIALS=/app/gcloud/compute-default-sa.json
    networks: [ emoease-net ]
    ports: [ "5009:8080", "7001:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ~/gcp/compute-default-sa.json:/app/gcloud/compute-default-sa.json:ro
      - ./Services/Translation/Translation.API/RSAKeys:/app/RSAKeys
      - ./Services/Translation/Translation.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/Translation/Translation.API/appsettings.Production.json:/app/appsettings.Production.json:ro

  digitalgoods.api:
    image: ${DOCKER_REGISTRY}digitalgoods.api:${IMAGE_TAG}
    container_name: digitalgoods.api
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - GrpcSettings__TranslationUrl=http://translation.api:8081
      - GrpcSettings__PiiUrl=http://profile.api:8081
      - DOTNET_SYSTEM_NET_HTTP_SOCKETSHTTPHANDLER_HTTP2UNENCRYPTEDSUPPORT=true
    networks: [ emoease-net ]
    ports: [ "5022:8080", "5522:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/DigitalGoods/DigitalGoods.API/RSAKeys:/app/RSAKeys
      - ./Services/DigitalGoods/DigitalGoods.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/DigitalGoods/DigitalGoods.API/appsettings.Production.json:/app/appsettings.Production.json:ro

  realtimehub.api:
    image: ${DOCKER_REGISTRY}realtimehub.api:${IMAGE_TAG}
    container_name: realtimehub.api
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - GrpcSettings__TranslationUrl=http://translation.api:8081
    networks: [ emoease-net ]
    ports: [ "5024:8080", "5524:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/RealtimeHub/RealtimeHub.API/RSAKeys:/app/RSAKeys
      - ./Services/RealtimeHub/RealtimeHub.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/RealtimeHub/RealtimeHub.API/appsettings.Production.json:/app/appsettings.Production.json:ro

  usermemory.api:
    image: ${DOCKER_REGISTRY}usermemory.api:${IMAGE_TAG}
    container_name: usermemory.api
    depends_on: [ distributedcache ]
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__Redis=distributedcache-msa:6379,abortConnect=false,connectRetry=5,connectTimeout=5000,syncTimeout=5000
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
    networks: [ emoease-net ]
    ports: [ "5025:8080", "6025:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/UserMemory/UserMemory.API/RSAKeys:/app/RSAKeys
      - ./Services/UserMemory/UserMemory.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/UserMemory/UserMemory.API/appsettings.Production.json:/app/appsettings.Production.json:ro


  wellness.api:
    image: ${DOCKER_REGISTRY}wellness.api:${IMAGE_TAG}
    container_name: wellness.api
    labels:
      com.emoease.health_path: "/health"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - GrpcSettings__TranslationUrl=http://translation.api:8081
      - DOTNET_SYSTEM_NET_HTTP_SOCKETSHTTPHANDLER_HTTP2UNENCRYPTEDSUPPORT=true
    networks: [ emoease-net ]
    ports: [ "5023:8080", "5523:8081" ]
    volumes:
      - ~/.aspnet/https:/https:ro
      - ./Services/Wellness/Wellness.API/RSAKeys:/app/RSAKeys
      - ./Services/Wellness/Wellness.API/appsettings.json:/app/appsettings.json:ro
      - ./Services/Wellness/Wellness.API/appsettings.Production.json:/app/appsettings.Production.json:ro

  yarpapigateway:
    image: ${DOCKER_REGISTRY}yarpapigateway:${IMAGE_TAG}
    container_name: emoease.yarpapigateway
    depends_on: [ distributedcache ]
    labels:
      com.emoease.health_path: "/health"
      com.emoease.health_port: "8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=${ASPNETCORE_ENVIRONMENT}
      - ConnectionStrings__Redis=distributedcache-msa:6379,abortConnect=false,connectRetry=5,connectTimeout=5000,syncTimeout=5000
      - DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION=true
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_HTTPS_PORTS=8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=12345
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_FORWARDEDHEADERS_ENABLED=true
      - ASPNETCORE_URLS=http://0.0.0.0:8080
      - GrpcSettings__PiiUrl=http://profile.api:8081
      - DOTNET_SYSTEM_NET_HTTP_SOCKETSHTTPHANDLER_HTTP2UNENCRYPTEDSUPPORT=true
    networks: [ emoease-net ]
    ports:
      - "8080:8080"
    volumes:
      - ./ApiGateways/YarpApiGateway/RSAKeys:/app/RSAKeys
      - /etc/ssl/api-cert:/certs:ro
      - ~/.aspnet/https:/https:ro
      - /mnt/dpkeys:/home/app/.aspnet/DataProtection-Keys
      - ./ApiGateways/YarpApiGateway/appsettings.json:/app/appsettings.json:ro
      - ./ApiGateways/YarpApiGateway/appsettings.Production.json:/app/appsettings.Production.json:ro

  distributedcache:
    container_name: distributedcache-msa
    image: redis
    restart: always
    networks: [ emoease-net ]
    ports:
      - "127.0.0.1:6379:6379"

networks:
  emoease-net:
    external: true
